<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-flu.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Book vaccinations prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{{ backLink({
  href: "javascript:history.back()",
  text: "Back"
}) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
    
      <!-- Change the page title here -->
      <h1 class="nhsuk-heading-l">
        Sites near {{ data['location-input'] | default('Epping') }}
      </h1>

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <p class="nhsuk-body-l">3 places meet the access needs:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>{{data['accessibility']}}</li>
      </ul>
      <p>
          <a href="access-needs">Change access needs</a>
      </p>

<div id="co-admin-inset" class="nhsuk-inset-text" style="display: none;">
  <span class="nhsuk-u-visually-hidden">Information: </span>
  <p>
    {{ data['first-name'] | default('John') }} {{ data['last-name'] | default('Doe') }}:
    <span id="vaccine-display-1"></span><br>
    {{ data['first-name2'] | default('Jane') }} {{ data['last-name2'] | default('Doe') }}:
    <span id="vaccine-display-2"></span><br>
  </p>
  <p>
    If you can't find a vaccination site near you, you can
    <a href="#" id="change-to-single">look for flu only appointments</a>.
  </p>
</div>


      <hr>
      <div>
<p id="distance_0" class="nhsuk-body-s nhsuk-u-margin-bottom-3"><span class="nhsuk-u-visually-hidden">This organisation is &nbsp;</span>0.2 miles away</p>
<form action="choose-date" method="get" class="form">

<span class="nhsapp-tag nhsapp-tag--blue">GP practice</span>
 <h2 style="margin-top: 8px;">The Surgery (Brooke Road)</h2>
<p name="address" class="nhsuk-list nhsuk-u-margin-bottom-2">
<span class="nhsuk-u-visually-hidden">Address for this organisation is &nbsp;</span>Brooke Road Surgery, 40-42 Brooke Road, Stoke Newington, London, Greater London, N16 7LR</p>
            
<p><span class="nhsuk-u-visually-hidden">Phone number:</span>
02072545652
</p>

<p class="nhsuk-u-margin-bottom-0 nhsuk-u-padding-top-0">
    <a id="map_link_0" href="https://www.google.com/maps/place/Benjamin+Chemist/@51.562084,-0.0760146,17z/data=!3m1!4b1!4m6!3m5!1s0x48761c60d5fa851d:0xda497e41847bcaae!8m2!3d51.5620807!4d-0.0734397!16s%2Fg%2F1th81fc3?entry=ttu&g_ep=EgoyMDI0MDgyNi4wIKXMDSoASAFQAw%3D%3D" rel="noreferrer" class="maplink">
    Get directions (opens in Google maps)
    <span class="nhsuk-u-visually-hidden">&nbsp;for this organisation</span>
    </a>
    </p>



    <br>

   
    
  
        <div class="nhsuk-form-group">
          <button class="nhsuk-action-link action-link-button" data-module="nhsuk-button" type="submit" style="border: 0px; background-color: #f0f4f5; cursor: pointer;"  name="pharmacy" value="Brooke Road Surgery, 40-42 Brooke Road, Stoke Newington, London, Greater London, N16 7LR">
            <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
            </svg>
            <a>Book at The surgery (Brooke road)</a>
          </button>
        </div>
  </div>
<hr>


        <div>
      <p id="distance_0" class="nhsuk-body-s nhsuk-u-margin-bottom-3"><span class="nhsuk-u-visually-hidden">This organisation is &nbsp;</span>0.1 miles away</p>
  <form action="choose-date" method="get" class="form">
  
      <h2>Benjamin Chemist</h2>

        <p name="address" class="nhsuk-list nhsuk-u-margin-bottom-2">
        <span class="nhsuk-u-visually-hidden">Address for this organisation is &nbsp;</span>
        190 S/NEWINGTON HIGH ST, STOKE NEWINGTON, LONDON, N16 7JD
        </p>
            
        <p><span class="nhsuk-u-visually-hidden">Phone number:</span>
          02072542696
        </p>

        <p class="nhsuk-u-margin-bottom-0 nhsuk-u-padding-top-0">
          <a id="map_link_0" href="https://www.google.com/maps/place/Benjamin+Chemist/@51.562084,-0.0760146,17z/data=!3m1!4b1!4m6!3m5!1s0x48761c60d5fa851d:0xda497e41847bcaae!8m2!3d51.5620807!4d-0.0734397!16s%2Fg%2F1th81fc3?entry=ttu&g_ep=EgoyMDI0MDgyNi4wIKXMDSoASAFQAw%3D%3D" rel="noreferrer" class="maplink">
          Get directions (opens in Google maps)
          <span class="nhsuk-u-visually-hidden">&nbsp;for this organisation</span>
    </a>
    </p>


    <!--<p>This pharmacy has:</p>

    <ul>
      <li>accessible toilet available</li>
      <li>braille translation service</li>
      <li>disabled parking</li>
    </ul>-->

  <br>
            
    
  <div class="nhsuk-form-group">
          <button class="nhsuk-action-link action-link-button" data-module="nhsuk-button" type="submit" style="border: 0px; background-color: #f0f4f5; cursor: pointer;"  name="pharmacy" value="Benjamin Chemist, 190 S/NEWINGTON HIGH ST, STOKE NEWINGTON, LONDON, N16 7JD">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
            <a>Choose Benjamin Chemist</a>
          </button>
</div>
</div>
<hr>
<div>
    <p id="distance_0" class="nhsuk-body-s nhsuk-u-margin-bottom-3"><span class="nhsuk-u-visually-hidden">This organisation is &nbsp;</span>0.4 miles away</p>
    
    <h2>Green Light Pharmacy</h2>
    
    <p id="address_0" class="nhsuk-list nhsuk-u-margin-bottom-2">
    <span class="nhsuk-u-visually-hidden">Address for this organisation is &nbsp;</span>
    170-172 Stamford Hill, London, N16 6QX
    </p>
                
        <p><span class="nhsuk-u-visually-hidden">Phone number:</span>
          02088006166
    </p>

    <p class="nhsuk-u-margin-bottom-0 nhsuk-u-padding-top-0">
        <a id="map_link_0" href="https://www.google.com/maps/place/Green+Light+Pharmacy+-+Stamford+Hill+Broadway/@51.572472,-0.0913213,15z/data=!4m6!3m5!1s0x48761c698bfa120d:0x98c1d9aa3075d56f!8m2!3d51.572472!4d-0.0722669!16s%2Fg%2F1hc4pg4v6?entry=ttu&g_ep=EgoyMDI0MDgyNi4wIKXMDSoASAFQAw%3D%3D" rel="noreferrer" class="maplink">
          Get directions (opens in Google maps)
          <span class="nhsuk-u-visually-hidden">&nbsp;for this organisation</span>
        </a>
        </p>
        
        <!--<p>This pharmacy has:</p>

        <ul>
          <li>disabled car parking</li>
        </ul>-->    
      <br>
                
        
    
      <div class="nhsuk-form-group">
              <button class="nhsuk-action-link action-link-button" data-module="nhsuk-button" type="submit" style="border: 0px; background-color: #f0f4f5; cursor: pointer;"  name="pharmacy" value="Green Light Pharmacy, 170-172 Stamford Hill, London, N16 6QXD">
              <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
              </svg>
                <a>Choose Green Light Pharmacy</a>
              </button>
    </div>
        </div>
    <hr>

    <div>
        <p id="distance_0" class="nhsuk-body-s nhsuk-u-margin-bottom-3"><span class="nhsuk-u-visually-hidden">This organisation is &nbsp;</span>0.7 miles away</p>
        
        <h2>Asvacare Limited - Clapton</h2>
        
        <p id="address_0" class="nhsuk-list nhsuk-u-margin-bottom-2">
        <span class="nhsuk-u-visually-hidden">Address for this organisation is &nbsp;</span>
        97, Upper Clapton road, Clapton, London, E59BU
        </p>
                    
<p><span class="nhsuk-u-visually-hidden">Phone number:</span>
        02088053316
        </p>

        <p class="nhsuk-u-margin-bottom-0 nhsuk-u-padding-top-0">
            <a id="map_link_0" href="https://www.google.com/maps/place/AsvaCare+Pharmacy/@51.5639956,-0.061973,17z/data=!3m1!4b1!4m6!3m5!1s0x48761dbe78e1b911:0x5eee18fc5695214!8m2!3d51.5639923!4d-0.0593981!16s%2Fg%2F11qm0ft81t?entry=ttu&g_ep=EgoyMDI0MDgyNi4wIKXMDSoASAFQAw%3D%3D" rel="noreferrer" class="maplink">
              Get directions (opens in Google maps)
              <span class="nhsuk-u-visually-hidden">&nbsp;for this organisation</span>
            </a>
            </p>
            <br>
        
        

                    
            
        
          <div class="nhsuk-form-group">
                  <button class="nhsuk-action-link action-link-button" data-module="nhsuk-button" type="submit" style="border: 0px; background-color: #f0f4f5; cursor: pointer;"  name="pharmacy" value="Asvacare Limited - Clapton, 97, Upper Clapton road, Clapton, London, E59BU">
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                  </svg>
                    <a>Choose Asvacare Limited - Clapton</a>
                  </button>
        </div>        </div>
        </form>
      <!-- End of content -->

    </div>
  </div>

<script>
document.addEventListener("DOMContentLoaded", function () {
  function initVaccineChoice(options = {}) {
    const insetId = options.insetId || "co-admin-inset";
    const linkId = options.linkId || "change-to-single";
    const displayIds = options.displayIds || ["vaccine-display-1", "vaccine-display-2"];

    const inset = document.getElementById(insetId);
    const changeLink = document.getElementById(linkId);
    const displaySpans = displayIds.map(id => document.getElementById(id));

    // Retrieve stored vaccine values for both people
    let vaccineChoices = [
      localStorage.getItem("vaccineChoice1"),
      localStorage.getItem("vaccineChoice2")
    ];

    // Default any missing or blank values to "COVID-19"
    vaccineChoices = vaccineChoices.map(choice =>
      !choice || choice.trim() === "" ? "Flu" : choice
    );

    // Store defaults if needed
    localStorage.setItem("vaccineChoice1", vaccineChoices[0]);
    localStorage.setItem("vaccineChoice2", vaccineChoices[1]);

    // Determine if inset should be visible (if either includes flu)
    const showInset = vaccineChoices.some(choice => choice.includes("COVID-19"));
    if (inset) inset.style.display = showInset ? "block" : "none";

    // Update displayed vaccine choices
    displaySpans.forEach((span, i) => {
      if (span) span.textContent = vaccineChoices[i];
    });

    // Handle link click → switch both to COVID-19 only
    if (inset && changeLink) {
      changeLink.addEventListener("click", function (e) {
        e.preventDefault();
        vaccineChoices = ["Flu", "Flu"];
        localStorage.setItem("vaccineChoice1", vaccineChoices[0]);
        localStorage.setItem("vaccineChoice2", vaccineChoices[1]);
        inset.style.display = "none";

        displaySpans.forEach((span, i) => {
          if (span) span.textContent = vaccineChoices[i];
        });
      });
    }
  }

  // Initialize with default IDs
  initVaccineChoice();
});
</script>
{% endblock %}
