<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-flu.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Book vaccinations prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{{ backLink({
  href: "javascript:history.back()",
  text: "Back"
}) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->


        <form action="confirmation-messages" method="get" class="form">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
                Choose an appointment time for {{ data['first-name2'] | default('Jane') }} {{ data['last-name2'] | default('Doe') }}
              </h1>
          </legend>

    
          <p>{{data['pharmacy']}}</p>


          <p class="nhsuk-body-l">Available appointment times for <span class="nhsuk-u-font-weight-bold"> {{data['date']}}</span></p>

          <h3 class="nhsuk-heading-m">Times chosen</h3>
          
          <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                {{ data['first-name'] | default('John') }} {{ data['last-name'] | default('Doe') }}
              </dt>
              <dd class="nhsuk-summary-list__value">
                {{data['hour'] | default('10') }}{{data['time'] | default(':30am') }}
              </dd>
          
          
            </div>
          
          
          </dl>

      
          <div class="nhsuk-hint" id="contact-hint">
            Select the second appointment time for your joint booking
          </div>

        <div class="nhsuk-form-group">
            
          <div class="nhsuk-radios" data-module="nhsuk-radios">
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="appt-time-radio" name="time-2" type="radio" value="pm">
              <label class="nhsuk-label nhsuk-radios__label" for="appt-time-radio">
                {{data['hour']}}pm
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="appt-time-radio" name="time-2" type="radio" value=":20pm">
              <label class="nhsuk-label nhsuk-radios__label" for="appt-time-radio">
                {{data['hour']}}:20pm
              </label>
            </div>
            
            <!--<div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="appt-time-radio" name="time" type="radio" value="8:20am">
              <label class="nhsuk-label nhsuk-radios__label" for="appt-time-radio">
                8:20am
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="appt-time-radio" name="time" type="radio" value="8:30am">
              <label class="nhsuk-label nhsuk-radios__label" for="appt-time-radio">
                8:30am
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="appt-time-radio" name="time" type="radio" value="8:40am">
              <label class="nhsuk-label nhsuk-radios__label" for="appt-time-radio">
                8:40am
              </label>
            </div>

            <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="appt-time-radio" name="time" type="radio" value="8:50am">
                <label class="nhsuk-label nhsuk-radios__label" for="appt-time-radio">
                  8:50am
                </label>
              </div>-->
      
          </div>
          </div>
        </fieldset>
        
        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Continue
        </button>
    </form>

    <a class="nhsuk-button nhsuk-button--secondary" href="choose-pharmacy">
      Choose a different pharmacy
    </a>

      
      </div>
      <!-- End of content -->

    </div>
  </div>
{% endblock %}
