<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-flu.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Book vaccinations prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{{ backLink({
  href: "javascript:history.back()",
  text: "Back"
}) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->


      <form action="manageJointAppointment" method="get" class="form">

        <div class="nhsuk-form-group">
            <fieldset class="nhsuk-fieldset" aria-describedby="example-hint" role="group">
              <legend class="nhsuk-fieldset__legend nhsuk-label--l">
                <h1 class="nhsuk-fieldset__heading">
                  This flu appointment is in the past
                </h1>
              </legend>

          <dl class="nhsuk-summary-list">  
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Site location
              </dt>
              <dd class="nhsuk-summary-list__value">
                Benjamin Chemist<br>190 S/Newington High st<br>Stoke Newington<br>London<br>N16 7JD
              </dd>
          
          
            </div>

            <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Date
                </dt>
                <dd class="nhsuk-summary-list__value">
                  {{ date({weekday: 'long', day: 'numeric', month: 'long', year: 'numeric'}, {'day': -1}) }}
                </dd>
            

            
              </div>  
          
          </dl>       
          
              <p>If you need to, you can <a href="appt-postcode">book another appointment</a>.</p>
    
            </fieldset>
          
          </div>

    </form>
    
      </div>      <!-- End of content -->

    </div>
  </div>

  <script>
document.addEventListener("DOMContentLoaded", function () {
  let vaccineChoice = localStorage.getItem("vaccineChoice");

  // Always ensure a valid value
  if (!vaccineChoice || vaccineChoice.trim() === "" || vaccineChoice === "COVID-19 and RSV-hidden") {
    vaccineChoice = "COVID-19";
    localStorage.setItem("vaccineChoice", vaccineChoice);
  }

  document.getElementById("vaccine-display").textContent = vaccineChoice;
});
</script>

{% endblock %}
