<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-menb.html' %}

<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Book vaccinations prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{{ backLink({
  href: "javascript:history.back()",
  text: "Back"
}) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->



      <form action="choose-pharmacy" method="get" class="form">

        <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset" aria-describedby="symptoms-hint">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1 class="nhsuk-fieldset__heading">
                  Are there any access needs for anyone attending the appointment?
                </h1>
              </legend>

              <p>If you need a carer you can bring them with you on the day.</p>
        
              <div class="nhsuk-hint" id="symptoms-hint">
                Select all options that are relevant.
              </div>
        
              <div class="nhsuk-checkboxes" data-module="nhsuk-checkboxes">
        
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="accessibility-1" name="accessibility" type="checkbox" value="Accessible toilet" data-checkbox-exclusive-group="accessibility-list">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="symptoms-1">
                    Accessible toilet
                  </label>
                </div>
        
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="accessibility-2" name="accessibility" type="checkbox" value="Braille translation service" data-checkbox-exclusive-group="accessibility-list">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="accessibility-2">
                    Braille translation service
                  </label>
                </div>
        
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="accessibility-3" name="accessibility" type="checkbox" value="Disabled car parking" data-checkbox-exclusive-group="accessibility-list">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="accessibility-3">
                    Disabled car parking
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="accessibility-4" name="accessibility" type="checkbox" value="Car parking" data-checkbox-exclusive-group="accessibility-list">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="accessibility-4">
                      Car parking
                    </label>
                  </div>

                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="accessibility-5" name="accessibility" type="checkbox" value="Induction loop" data-checkbox-exclusive-group="accessibility-list">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="accessibility-5">
                      Induction loop
                    </label>
                  </div>

                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="accessibility-6" name="accessibility" type="checkbox" value="Sign language service" data-checkbox-exclusive-group="accessibility-list">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="accessibility-6">
                      Sign language service
                    </label>
                  </div>

                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="accessibility-7" name="accessibility" type="checkbox" value="Step free access" data-checkbox-exclusive-group="accessibility-list">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="accessibility-7">
                      Step free access
                    </label>
                  </div>

                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="accessibility-8" name="accessibility" type="checkbox" value="Text relay" data-checkbox-exclusive-group="accessibility-list">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="accessibility-8">
                      Text relay
                    </label>
                  </div>

                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="accessibility-9" name="accessibility" type="checkbox" value=" Wheelchair access" data-checkbox-exclusive-group="accessibility-list">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="accessibility-9">
                      Wheelchair access
                    </label>
                  </div>
        
                <div class="nhsuk-checkboxes__divider">or</div>
        
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="accessibility-10" name="accessibility" type="checkbox" value="No access needs" data-checkbox-exclusive data-checkbox-exclusive-group="accessibility-list">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="accessibility-10">
                    No access needs
                  </label>
                </div>
        
              </div>
            </fieldset>
        
          </div>
        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Continue
        </button>    </form>
    
      </div>
      <!-- End of content -->

    </div>
  </div>
{% endblock %}
