<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-flu.html' %}<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Book vaccinations prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{{ backLink({
  href: "javascript:history.back()",
  text: "Back"
}) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->


        <form action="confirm-change" method="get" class="form">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend">
            <h1 class="nhsuk-heading-l">
                Choose an appointment time for {{ data['first-name'] | default('John') }} {{ data['last-name'] | default('Doe') }}
              </h1>
          </legend>

    
          <p>{{data['pharmacy']}}</p>


          <p class="nhsuk-body-l">Available appointment times for <span class="nhsuk-u-font-weight-bold"> {{data['date']}}</span></p>
      

        <div class="nhsuk-form-group">
            
          <div class="nhsuk-radios" data-module="nhsuk-radios">
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="appt-time-radio" name="time" type="radio" value="am">
              <label class="nhsuk-label nhsuk-radios__label" for="appt-time-radio">
                {{data['hour']}}am
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="appt-time-radio" name="time" type="radio" value=":10am">
              <label class="nhsuk-label nhsuk-radios__label" for="appt-time-radio">
                {{data['hour']}}:10am
              </label>
            </div>
            
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="appt-time-radio" name="time" type="radio" value=":20am">
              <label class="nhsuk-label nhsuk-radios__label" for="appt-time-radio">
                {{data['hour']}}:20am
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="appt-time-radio" name="time" type="radio" value=":30am">
              <label class="nhsuk-label nhsuk-radios__label" for="appt-time-radio">
                {{data['hour']}}:30am
              </label>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="appt-time-radio" name="time" type="radio" value=":40am">
              <label class="nhsuk-label nhsuk-radios__label" for="appt-time-radio">
                {{data['hour']}}:40am
              </label>
            </div>

            <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="appt-time-radio" name="time" type="radio" value=":50am">
                <label class="nhsuk-label nhsuk-radios__label" for="appt-time-radio">
                  {{data['hour']}}:50am
                </label>
              </div>
      
          </div>
          </div>
        </fieldset>
        
        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Continue
        </button>
    </form>

    <a class="nhsuk-button nhsuk-button--secondary" href="choose-pharmacy-2">
      Choose a different pharmacy
    </a>

      
      </div>
      <!-- End of content -->

    </div>
  </div>
{% endblock %}
