<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-menb.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Book vaccinations prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{{ backLink({
  href: "javascript:history.back()",
  text: "Back"
}) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->


      <form action="choose-time-range" method="get" class="form">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
            Choose a date
              </h1>
          </legend>
          <p>{{data['pharmacy']}}</p>


          <p class="nhsuk-body-l">Next 10 available days</p>
        <div class="nhsuk-form-group">
          <div class="nhsuk-radios" data-module="nhsuk-radios">
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="appt-days-radio" name="date" type="radio" value="{{ date({weekday: 'long', day: 'numeric', month: 'long'}, {'day': +11}) }}">
              <label class="nhsuk-label nhsuk-radios__label" for="appt-days">
                {{ date({weekday: 'long', day: 'numeric', month: 'long'}, {'day': +11}) }}
              </label>
              <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                AM - Available <br>
                PM - Available
              </div>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="appt-days-radio" name="date" type="radio" value="{{ date({weekday: 'long', day: 'numeric', month: 'long'}, {'day': +12}) }}">
              <label class="nhsuk-label nhsuk-radios__label" for="appt-days-radio">
                {{ date({weekday: 'long', day: 'numeric', month: 'long'}, {'day': +12}) }}
              </label>
              <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                AM - Available <br>
                PM - Unavailable
              </div>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="appt-days-radio" name="date" type="radio" value="{{ date({weekday: 'long', day: 'numeric', month: 'long'}, {'day': +13}) }}">
              <label class="nhsuk-label nhsuk-radios__label" for="appt-days-radio">
                {{ date({weekday: 'long', day: 'numeric', month: 'long'}, {'day': +13}) }}
              </label>
              <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                AM - Available <br>
                PM - Unavailable
              </div>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="appt-days-radio" name="date" type="radio" value="{{ date({weekday: 'long', day: 'numeric', month: 'long'}, {'day': +14}) }}">
              <label class="nhsuk-label nhsuk-radios__label" for="appt-days-radio">
                {{ date({weekday: 'long', day: 'numeric', month: 'long'}, {'day': +14}) }}
              </label>
              <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                AM - Available <br>
                PM - Unavailable
              </div>
            </div>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="appt-days-radio" name="date" type="radio" value="{{ date({weekday: 'long', day: 'numeric', month: 'long'}, {'day': +15}) }}">
              <label class="nhsuk-label nhsuk-radios__label" for="appt-days-radio">
                {{ date({weekday: 'long', day: 'numeric', month: 'long'}, {'day': +15}) }}
              </label>
              <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                AM - Available <br>
                PM - Unavailable
              </div>
            </div>

                        <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="appt-days-radio" name="date" type="radio" value="{{ date({weekday: 'long', day: 'numeric', month: 'long'}, {'day': +16}) }}">
              <label class="nhsuk-label nhsuk-radios__label" for="appt-days-radio">
                {{ date({weekday: 'long', day: 'numeric', month: 'long'}, {'day': +16}) }}
              </label>
              <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                AM - Available <br>
                PM - Unavailable
              </div>
            </div>

                        <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="appt-days-radio" name="date" type="radio" value="{{ date({weekday: 'long', day: 'numeric', month: 'long'}, {'day': +17}) }}">
              <label class="nhsuk-label nhsuk-radios__label" for="appt-days-radio">
                {{ date({weekday: 'long', day: 'numeric', month: 'long'}, {'day': +17}) }}
              </label>
              <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                AM - Available <br>
                PM - Unavailable
              </div>
            </div>

                        <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="appt-days-radio" name="date" type="radio" value="{{ date({weekday: 'long', day: 'numeric', month: 'long'}, {'day': +18}) }}">
              <label class="nhsuk-label nhsuk-radios__label" for="appt-days-radio">
                {{ date({weekday: 'long', day: 'numeric', month: 'long'}, {'day': +18}) }}
              </label>
              <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                AM - Available <br>
                PM - Unavailable
              </div>
            </div>

                        <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="appt-days-radio" name="date" type="radio" value="{{ date({weekday: 'long', day: 'numeric', month: 'long'}, {'day': +19}) }}">
              <label class="nhsuk-label nhsuk-radios__label" for="appt-days-radio">
                {{ date({weekday: 'long', day: 'numeric', month: 'long'}, {'day': +19}) }}
              </label>
              <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                AM - Available <br>
                PM - Unavailable
              </div>
            </div>

                        <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="appt-days-radio" name="date" type="radio" value="{{ date({weekday: 'long', day: 'numeric', month: 'long'}, {'day': +20}) }}">
              <label class="nhsuk-label nhsuk-radios__label" for="appt-days-radio">
                {{ date({weekday: 'long', day: 'numeric', month: 'long'}, {'day': +20}) }}
              </label>
              <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                AM - Available <br>
                PM - Unavailable
              </div>
            </div>



          </div>
          </div>
        </fieldset>

        <nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
            <ul class="nhsuk-list nhsuk-pagination__list">
              <li class="nhsuk-pagination-item--previous" style="text-align: left; float: left;">
                <a class="nhsuk-pagination__link nhsuk-pagination__link--previous" href="#">
                  <span class="nhsuk-pagination__title">Show later dates</span>
                  <span class="nhsuk-u-visually-hidden">:</span>
                  <span class="nhsuk-pagination__page">Next 5 available days</span>
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="34" height="34">
                    <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                  </svg>
                </a>
              </li>
            </ul>
          </nav>
        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Continue and choose time range
        </button>
    </form>

    <a class="nhsuk-button nhsuk-button--secondary" href="choose-pharmacy">
        Choose a different pharmacy
      </a>

      
      </div>
      <!-- End of content -->

    </div>
  </div>
{% endblock %}
