<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-flu.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Book vaccinations prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{{ backLink({
  href: "javascript:history.back()",
  text: "Back"
}) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->


      <form action="appt-postcode" method="get" class="form">

        <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset" aria-describedby="symptoms-hint">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1 class="nhsuk-fieldset__heading">
                 What needs do you have?
                </h1>
              </legend>

              <p>Select all your needs to help you at your appointment.</p>
        
        
              <div class="nhsuk-checkboxes" data-module="nhsuk-checkboxes">
        
                 <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="accessibility-10" name="accessibility" type="checkbox" value="No access needs" data-checkbox-exclusive data-checkbox-exclusive-group="accessibility-list">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="accessibility-10">
                    No needs
                  </label>
                </div>
              <div class="nhsuk-hint" id="symptoms-hint" style="padding-top: 16px;">
                Select all options that are required.
              </div>

                <h2 class="nhsuk-heading-s" style="padding-top: 8px;">Building accessibility</h2>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="accessibility-1" name="accessibility" type="checkbox" value="Accessible toilet" data-checkbox-exclusive-group="accessibility-list">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="symptoms-1">
                    Automatic or easy-open doors
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="accessibility-1" name="accessibility" type="checkbox" value="Accessible toilet" data-checkbox-exclusive-group="accessibility-list">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="symptoms-1">
                    Lift access
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="accessibility-1" name="accessibility" type="checkbox" value="Accessible toilet" data-checkbox-exclusive-group="accessibility-list">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="symptoms-1">
                    Disabled parking spaces
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="accessibility-2" name="accessibility" type="checkbox" value="Braille translation service" data-checkbox-exclusive-group="accessibility-list">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="accessibility-2">
                    Step-free access
                  </label>
                </div>
        
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="accessibility-2" name="accessibility" type="checkbox" value="Braille translation service" data-checkbox-exclusive-group="accessibility-list">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="accessibility-2">
                    Wheelchair access
                  </label>
                </div>                
                
                <h2 class="nhsuk-heading-s" style="padding-top: 16px;">Services and facilities</h2>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="accessibility-2" name="accessibility" type="checkbox" value="Braille translation service" data-checkbox-exclusive-group="accessibility-list">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="accessibility-2">
                    Accessible toilet
                  </label>
                </div>                

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="accessibility-3" name="accessibility" type="checkbox" value="Disabled car parking" data-checkbox-exclusive-group="accessibility-list">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="accessibility-3">
                    Audio information or text to speech facility
                  </label>
                </div>
                           
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="accessibility-3" name="accessibility" type="checkbox" value="Disabled car parking" data-checkbox-exclusive-group="accessibility-list">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="accessibility-3">
                   Documents available in large print
                  </label>
                </div>
                
                <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="accessibility-4" name="accessibility" type="checkbox" value="Foreign language support" data-checkbox-exclusive-group="accessibility-list"  data-aria-controls="conditional-contact">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="accessibility-4">
                      Foreign language support
                    </label>
                  </div>
                  <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="conditional-contact">
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label" for="email">
                        Which language do you need support with
                      </label>
                      <input class="nhsuk-input nhsuk-u-width-two-thirds" id="email" name="email" type="text">
                    </div>
                  </div>
                           
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="accessibility-3" name="accessibility" type="checkbox" value="Disabled car parking" data-checkbox-exclusive-group="accessibility-list">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="accessibility-3">
                    Hearing loop
                  </label>
                </div>


                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="accessibility-5" name="accessibility" type="checkbox" value="Hearing loop" data-checkbox-exclusive-group="accessibility-list">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="accessibility-5">
                      Seating in waiting area
                    </label>
                  </div>

                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="accessibility-5" name="accessibility" type="checkbox" value="Mobility aides available" data-checkbox-exclusive-group="accessibility-list">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="accessibility-5">
                      Mobility aides available
                    </label>
                  </div>

                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="accessibility-5" name="accessibility" type="checkbox" value="Staff chaperone" data-checkbox-exclusive-group="accessibility-list">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="accessibility-5">
                     Staff chaperone
                    </label>
                  </div>

                  <!--<div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="accessibility-5" name="accessibility" type="checkbox" value="Induction loop" data-checkbox-exclusive-group="accessibility-list">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="accessibility-5">
                      Public transport options
                    </label>
                  </div>

                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="accessibility-6" name="accessibility" type="checkbox" value="Sign language service" data-checkbox-exclusive-group="accessibility-list">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="accessibility-6">
                      Seating in waiting area
                    </label>
                  </div>-->
        
              </div>
            </fieldset>
        
          </div>

          <div class="nhsuk-inset-text">
  <span class="nhsuk-u-visually-hidden">Information: </span>
  <p>We'll search for vaccination sites based on your location and your needs.</p>
</div>
        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Continue
        </button>    </form>
    
      </div>
      <!-- End of content -->

    </div>
  </div>
{% endblock %}
