<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-flu.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Book vaccinations prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{{ backLink({
  href: "javascript:history.back()",
  text: "Back"
}) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->


        <form action="jointConflict" method="get" class="form">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-heading-l">
                Are you sure you want to add {{ data['first-name2'] | default('John') }} {{ data['last-name2'] | default('Smith') }} to your booking?
              </h1>
          </legend>

  <p>
    You've told us {{ data['first-name'] | default('Jane') }} {{ data['last-name'] | default('Smith') }} is pregnant.  This means they can get the flu vaccine from 1 September. </p>


    <p>{{ data['first-name2'] | default('John') }} {{ data['last-name2'] | default('Smith') }} can get the flu vaccine from 1 October.
  </p>

<!--<p>You can book for:</p>

<ul>
  <li>{{ data['first-name'] | default('Jane') }} {{ data['last-name'] | default('Smith') }} only from 1 September</li>
  <li>{{ data['first-name2'] | default('John') }} {{ data['last-name2'] | default('Smith') }} only from 1 October</li>
  <li>both people on the same day from 1 October</li>
</ul>-->

                      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                        <h1 class="nhsuk-fieldset__heading">
                What do you want to do?
              </h1>
                      </legend>

          <div class="nhsuk-form-group">
          <div class="nhsuk-radios" data-module="nhsuk-radios">
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="nhs-no-radio" name="radioGroup" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="nhs-no-radio-yes">
                Book for {{ data['first-name'] | default('Jane') }} {{ data['last-name'] | default('Smith') }} from 1 September
              </label>
            </div>
      
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="nhs-no-radio" name="radioGroup" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="nhs-no-radio-no">
                Book for {{ data['first-name2'] | default('John') }} {{ data['last-name2'] | default('Smith') }} from 1 October
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="nhs-no-radio" name="radioGroup" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="nhs-no-radio-no">
                Book for both people on the same day from 1 October
              </label>
            </div>      
          </div>
          </div>
        </fieldset>
        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Continue
        </button>
    </form>
      
      </div>
      <!-- End of content -->

    </div>
  </div>

  <script>
  // Display stored DOB on page load
  document.getElementById("dob-display").innerText = localStorage.getItem("dob1") || 'Unknown';

</script>

{% endblock %}
