<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-flu.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Book vaccinations prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{{ backLink({
  href: "javascript:history.back()",
  text: "Back"
}) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->


      <form action="chooseHour" method="get" class="form">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1>
                Choose a time range
              </h1>
          </legend>

    
          <p>{{data['pharmacy']}}</p>


          <p class="nhsuk-body-l">Available time ranges for <span class="nhsuk-u-font-weight-bold"> {{data['date']}}</span></p>
      

        <div class="nhsuk-form-group">
            
          <div class="nhsuk-radios" data-module="nhsuk-radios">
        <p class="nhsuk-u-font-weight-bold">AM</p>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="time-range-radio" name="hour" type="radio" value="8">
              <label class="nhsuk-label nhsuk-radios__label" for="appt-days">
                8am to 9am
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="time-range-radio" name="hour" type="radio" value="9">
              <label class="nhsuk-label nhsuk-radios__label" for="appt-days">
                9am to 10am
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="time-range-radio" name="hour" type="radio" value="10">
              <label class="nhsuk-label nhsuk-radios__label" for="appt-days">
                10am to 11am
              </label>
            </div>

            <br>
            <p class="nhsuk-u-font-weight-bold">PM</p>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="time-range-radio" name="hour" type="radio" value="2">
              <label class="nhsuk-label nhsuk-radios__label" for="appt-days-radio">
                2pm to 3pm
              </label>
            </div>

            <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="time-range-radio" name="hour" type="radio" value="6">
                <label class="nhsuk-label nhsuk-radios__label" for="appt-days-radio">
                  6pm to 7pm
                </label>
              </div>
      
          </div>
          </div>
        </fieldset>

        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Continue and choose appointment time
        </button>
    </form>

    <a class="nhsuk-button nhsuk-button--secondary" href="choose-pharmacy">
        Choose a different pharmacy
      </a>

      
      </div>
      <!-- End of content -->

    </div>
  </div>
{% endblock %}
