<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-flu.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Book vaccinations prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{{ backLink({
  href: "javascript:history.back()",
  text: "Back"
}) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->


        <form class="form">



    <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          How would you prefer to be contacted?
        </h1>
      </legend>
      <div class="nhsuk-hint" id="contact-hint">
        Enter contact details for the person you want to be notified.<br><br>Select all options that are relevant to you.
      </div>
        <div class="nhsuk-form-group">
<div class="nhsuk-checkboxes nhsuk-checkboxes--conditional" data-module="nhsuk-checkboxes">

        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="checkboxOption-1" name="checkboxOption" type="checkbox" value="email" aria-controls="conditional-contact-1" aria-expanded="false" data-checkbox-exclusive-group="checkboxOption">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-email">
            Email
          </label>
        </div>
        <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="conditional-contact-1">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="email">
              Email address
            </label>
            <div class="nhsuk-hint" id="contact-hint">
        We'll use this to send email reminders
      </div>
            <input class="nhsuk-input nhsuk-u-width-two-thirds" id="email" name="email" type="text">
          </div>
        </div>


        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="checkboxOption-2" name="checkboxOption" type="checkbox" value="mobile" aria-controls="conditional-contact-2" aria-expanded="false" data-checkbox-exclusive-group="checkboxOption">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-text">
            Mobile
          </label>
        </div>
        <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="conditional-contact-2">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="mobile">
              Mobile phone number
            </label> 
            <div class="nhsuk-hint" id="contact-hint">
        We'll use this to send text reminders
      </div>
      <input class="nhsuk-input nhsuk-u-width-two-thirds" id="mobile" name="mobile" type="text">
          </div>
      </div>


        <div class="nhsuk-checkboxes__divider">or</div>


        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="checkboxOption-3" name="checkboxOption" type="checkbox" value="landline" data-checkbox-exclusive data-checkbox-exclusive-group="checkboxOption">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-phone">
            I do not have an email or mobile
          </label>
        </div>

  </div>

      </div>
    </fieldset>


<button class="nhsuk-button" type="submit" onclick="handleContactFormSubmission(event)">
  Continue
</button>
    </form>

      
      </div>
      <!-- End of content -->

    </div>
  </div>

<script>
    function handleContactFormSubmission(event) {
      event.preventDefault();

      // Checkbox states
      const emailChecked = document.getElementById('checkboxOption-1').checked;
      const mobileChecked = document.getElementById('checkboxOption-2').checked;
      const landlineChecked = document.getElementById('checkboxOption-3').checked;

      // Input values
      const emailValue = document.getElementById('email').value.trim();
      const mobileValue = document.getElementById('mobile').value.trim();

      if ((emailChecked || mobileChecked) && !landlineChecked) {
        // Build URL parameters
        const params = new URLSearchParams();
        if (emailChecked && emailValue) {
          params.append('email', encodeURIComponent(emailValue));
        }
        if (mobileChecked && mobileValue) {
          params.append('mobile', encodeURIComponent(mobileValue));
        }

        window.location.href = `cya?${params.toString()}`;
      } else if (landlineChecked && !emailChecked && !mobileChecked) {
        window.location.href = 'landline';
      } else {
        alert('Please select valid contact options and enter details if needed.');
      }
    }
  </script>{% endblock %}
