<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Book vaccinations prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- Change the page title here -->
      <h1 class="nhsuk-heading-xl">
        Future NBS journeys
            </h1>

            <div class="nhsuk-inset-text">
              <span class="nhsuk-u-visually-hidden">Information: </span>
              <p>Work in this section is for testing purposes and is subject to change</p>
            </div>

              <h3 class="nhsuk-heading-m">Flu journey - V3</h3>
            <ul class="nhsuk-list nhsuk-list--bullet">
        <li><a href="flu-v3/index" class="nhsuk-link">Book, change or cancel a flu jab</a><span class="nhsuk-u-font-weight-bold"></span></li>
            <ul class="nhsuk-list nhsuk-list--bullet" style="list-style-type: circle;">
              <li>Cancelled/expired bookings</li>
                <ul class="nhsuk-list nhsuk-list--bullet">
            <li><a href="flu-v3/manage/expired-current" class="nhsuk-link">Expired (current season)</a></li>
            <li><a href="flu-v3/manage/expired-old" class="nhsuk-link">Expired (old season)</a></li>
                </ul><br>
              <li>Access needs</li>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="flu-v3/access-needs" class="nhsuk-link">Access needs list</a></li>
                  <li><a href="flu-v3/manage/choose-site" class="nhsuk-link">Site list</a> exact matches found</li>
                  <li><a href="flu-v3/choose-site" class="nhsuk-link">Site list</a> - NO EXACT MATCHES FOUND</li>
                </ul>
              <li>Staggered opening</li>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="flu-v3/self-referral" class="nhsuk-link">Self-referral</a> - under 65</li>
                  <li><a href="flu-v3/o65-self-referral" class="nhsuk-link">Self-referral</a> - over 65 DYNAMIC CONTENT</li>
                  <li><a href="flu-v3/joint/o65-self-referral-joint" class="nhsuk-link">Joint booking</a> - 2 different access groups</li>
                </ul><br>

            </ul>
</ul>   


<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Flu v2
    </span>
  </summary>
  <div class="nhsuk-details__text">
              <h3 class="nhsuk-heading-m">Flu journey - V2</h3>
            <ul class="nhsuk-list nhsuk-list--bullet">
        <li><a href="flu-v2/index" class="nhsuk-link">Book, change or cancel a flu jab</a><span class="nhsuk-u-font-weight-bold"></span></li>
            <ul class="nhsuk-list nhsuk-list--bullet" style="list-style-type: circle;">
              <li>Cancelled/expired bookings</li>
                <ul class="nhsuk-list nhsuk-list--bullet">
            <li><a href="flu-v2/manage/cancelled-site" class="nhsuk-link">Cancelled by site</a></li>
            <li><a href="flu-v2/manage/cancelled-user" class="nhsuk-link">Cancelled by user</a></li>
            <li><a href="flu-v2/manage/cancelled-service" class="nhsuk-link">Cancelled by NBS (auto-cancelled)</a></li>
            <li><a href="flu-v2/manage/expired-current" class="nhsuk-link">Expired (current season)</a></li>
            <li><a href="flu-v2/manage/expired-old" class="nhsuk-link">Expired (old season)</a></li>
                </ul><br>
              <li>Access needs</li>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="flu-v2/access-needs" class="nhsuk-link">Access needs list</a></li>
                  <li><a href="flu-v2/manage/choose-site" class="nhsuk-link">Site list</a> exact matches found</li>
                  <li><a href="flu-v2/choose-site" class="nhsuk-link">Site list</a> - NO EXACT MATCHES FOUND</li>
                </ul>
              <li>Staggered opening</li>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="flu-v2/self-referral" class="nhsuk-link">Self-referral</a> - under 65</li>
                  <li><a href="flu-v2/o65-self-referral" class="nhsuk-link">Self-referral</a> - over 65 DYNAMIC CONTENT</li>
                  <li><a href="flu-v2/joint/o65-self-referral-joint" class="nhsuk-link">Joint booking</a> - 2 different access groups</li>
                </ul><br>

            </ul>
</ul>   

</div></details>

<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Flu v1
    </span>
  </summary>
  <div class="nhsuk-details__text">
                <ul class="nhsuk-list nhsuk-list--bullet">
        <li><a href="flu/index" class="nhsuk-link">Book, change or cancel a flu jab</a><span class="nhsuk-u-font-weight-bold"></span></li>
            <ul class="nhsuk-list nhsuk-list--bullet" style="list-style-type: circle;">
              <li>Staggered opening</li>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="flu/self-referral" class="nhsuk-link">Self-referral</a> - under 65</li>
                  <li><a href="flu/o65-self-referral" class="nhsuk-link">Self-referral</a> - over 65 DYNAMIC CONTENT</li>
                  <li><a href="flu/joint/o65-self-referral-joint" class="nhsuk-link">Joint booking</a> - 2 different access groups</li>
                </ul><br>
              <li>Access needs</li>
                <ul class="nhsuk-list nhsuk-list--bullet">
                  <li><a href="flu/access-needs" class="nhsuk-link">Access needs list</a></li>
                  <li><a href="flu/manage/choose-site" class="nhsuk-link">Site list</a> - filters and tags for facilities</li>
                  <li><a href="flu/choose-site" class="nhsuk-link">Site list</a> - NO EXACT MATCHES FOUND</li>
                  <li><a href="flu/choose-site-filtered" class="nhsuk-link">Filtered site list</a></li>
                </ul>
            </ul>
</ul>
</div>
</details>
  
        <h3 class="nhsuk-heading-m">Access needs discover/alpha work</h3>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li><a href="access-needs/index" class="nhsuk-link">Access needs</a></li>        
              </ul> 

              
       



      <!-- End of content -->

    </div>
  </div>
{% endblock %}
