<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-flu.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Book vaccinations prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1>We found 4 places that match '{{ data['location-input'] | default('Epping') }}'</h1>
      <p>Choose one of the following:</p>

      <form action="choose-site" method="get" class="form">

      <ul class="nhsuk-list">
        <li>
                  <button class="nhsuk-link__link" data-module="nhsuk-button" type="submit" style="border: 0px; background-color: #f0f4f5; cursor: pointer; font-size: 1.1875rem; line-height: 1.47368; text-decoration: underline; padding-left: 0px;"  name="location" value="Epping">
                    <a>Epping, Essex, CM16</a>
                  </button> 
                </li>
        <li>
          <button class="nhsuk-link__link" data-module="nhsuk-button" type="submit" style="border: 0px; background-color: #f0f4f5; cursor: pointer; font-size: 1.1875rem; line-height: 1.47368; text-decoration: underline; padding-left: 0px;"  name="location" value="Epping Green">
            <a>Epping Green, Essex, CM16</a></button>
        </li>
        <li>
          <button class="nhsuk-link__link" data-module="nhsuk-button" type="submit" style="border: 0px; background-color: #f0f4f5; cursor: pointer; font-size: 1.1875rem; line-height: 1.47368; text-decoration: underline; padding-left: 0px;"  name="location" value="Epping Upland">
            <a>Epping Upland, Essex, CM16</a></button>
        </li>
        <li>
          <button class="nhsuk-link__link" data-module="nhsuk-button" type="submit" style="border: 0px; background-color: #f0f4f5; cursor: pointer; font-size: 1.1875rem; line-height: 1.47368; text-decoration: underline; padding-left: 0px;"  name="location" value="Epping Green">
            <a>Epping Green, Hertfordshire, SG13</a></button>
        </li>
      </ul>      
      
      <p>
          <a href="appt-postcode">
              None of these - try another town, city or postcode
          </a>
      </p>
  
  </div>  </div>
{% endblock %}
