<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-flu.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Book vaccinations prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{{ backLink({
  href: "javascript:history.back()",
  text: "Back"
}) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->


        <form action="cya-landline" method="get" class="form">

        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
                Enter a landline
              </h1>
          </legend>

          <div class="nhsuk-warning-callout">
            <h3 class="nhsuk-warning-callout__label">
              <span role="text">
                <span class="nhsuk-u-visually-hidden">Important: </span>
                Important
              </span>
            </h3>
            <p>If you only leave a landline, we cannot send you confirmation or reminder messages.  If the site needs to cancel your appointment, they may use this number to call you.</p>
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="email">
              Landline including area code
            </label>
            <div class="nhsuk-hint" id="example-with-hint-text-hint">
              For example, 0113 496 0845
              
            </div>
            <input class="nhsuk-input" id="email" name="email" type="text">
          </div> 
          
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="confirm-email">
              Confirm landline including area code
            </label>
            <input class="nhsuk-input" id="confirm-email" name="confirm-email" type="text">
          </div> 
        </fieldset>
        
        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
          Continue
        </button>
    </form>



      
      </div>
      <!-- End of content -->

    </div>
  </div>
{% endblock %}
